@{
    ViewBag.Title = "Overview";
    ViewBag.Menu = "Home";
}
@section styles{

}


<script type="text/javascript" src="~/Scripts/Feature/Dashboard/apha.dashboard.chart.js"></script>


@Html.Partial("_HeaderPartial")

<div class="container theme-showcase margin-bottom">
    <div class="in row">
        <div class="col-sm-12">

            @Html.Partial("_SideLayout")

            <div class="col-sm-8 info-table">
                <div class="chart-block margin-top margin-bottom">
                    <div class="form-group clearfix top-padding">
                        <div class="span12 header-section">
                            <h3>
                                Charts
                                <div class="pull-right left-margin" style=" margin-top: -15px;">
                                    <div class="pull-left chart-type selected border" data-chart-type="Pie2D">
                                        <a style="width: 48px; height: 48px; padding: 2px; display: inline-block">
                                            <img alt="Pie3D" title="Pie Chart" src="@Url.Content("~/Content/Images/chart-pie.png")" />
                                        </a>
                                    </div>
                                    <div class="pull-left left-margin chart-type border" data-chart-type="Column2D">
                                        <a style="width: 48px; height: 48px; padding: 2px; display: inline-block">
                                            <img alt="Column3D" title="Bar Chart" src="@Url.Content("~/Content/Images/chart-bar.png")" />
                                        </a>
                                    </div>
                                    <div class="pull-left left-margin chart-type border" data-chart-type="Line">
                                        <a style="width: 48px; height: 48px; padding: 2px; display: inline-block">
                                            <img alt="Line" title="Line Chart" src="@Url.Content("~/Content/Images/chart-line.png")" />
                                        </a>
                                    </div>
                                </div>
                                
                            </h3>


                        </div>
                        
                    </div>

                    <div class="clear"></div>

                    <div class="col-sm-6">
                        <div id="expense_chart_container" style="height: 290px">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div id="budget_chart_container" style="height: 290px">
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="alert-box">
                    <div class="span12 header-section">
                        <h3>
                            Alerts

                            <a href="edit_client.html" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-repeat"></span>Add Alert</a>
                        </h3>


                    </div>
                    <div class="clear"></div>
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Danger! 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione labore dignissimos repellendus repudiandae. Quod, eius cupiditate repellendus repudiandae repellat.</p>
                    </div>

                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>Danger! 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione labore dignissimos repellendus repudiandae. Quod, eius cupiditate repellendus repudiandae repellat.</p>
                    </div>
                </div>

                <div class="budget-box">
                    <div class="span12 header-section">
                        <h3>
                            Budget

                            <a href="edit_client.html" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-repeat"></span>Add Budget</a>
                        </h3>


                    </div>
                    <div class="clear"></div>


                    <table cellspacing="0" cellpadding="0" border="0" class="table-grid spanX budget-table-home">
                        <tbody>
                            <tr>
                                <th><a href="#"></a></th>
                                <th colspan="2" class="budget-bar"><a href="#"><div class="pull-left">0%</div><div class="pull-right">100%</div></a></th>
                                <th><a href="#">Budget</a></th>
                                <th><a href="#">Left</a></th>
                            </tr>
                            <tr>
                                <td>Groceries</td>
                                <td colspan="2">
                                    <div class="progress">
                                        <div class="bar" style="width: 60%;"><span class="pull-right">150 Rs</span></div>
                                    </div>
                                </td>
                                <td>250 Rs</td>
                                <td>100 Rs left</td>

                            </tr>
                            <tr>
                                <td>Credit card payment</td>
                                <td colspan="2"><div class="progress"> <div class="bar" style="width: 20%;"><span class="pull-right">50 Rs</span></div></div></td>
                                <td>300 Rs</td>
                                <td>250 Rs left</td>
                            </tr>
                            <tr>
                                <td><a href="#">Total</a></td>
                                <td colspan="2"><div class="progress"> <div class="bar" style="width: 40%;"><span class="pull-right">200 Rs</span></div></div></td>
                                <td>550 Rs</td>
                                <td>350 Rs left</td>

                            </tr>
                        </tbody>
                    </table>





                </div>


                <div class="Goal-box">
                    <div class="span12 header-section">
                        <h3>
                            Goals

                            <a href="edit_client.html" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-repeat"></span>Add Goal</a>
                        </h3>


                    </div>
                    <div class="clear"></div>


                    <table cellspacing="0" cellpadding="0" border="0" class="table-grid spanX budget-table-home">
                        <tbody>
                            <tr>
                                <th><a href="#">Name</a></th>
                                <th colspan="2" class="budget-bar"><a href="#"><div class="pull-left">0%</div><div class="pull-right">100%</div></a></th>
                                <th><a href="#">Goal</a></th>
                                <th><a href="#">Left</a></th>
                            </tr>
                            <tr>
                                <td>Buy a car</td>
                                <td colspan="2">
                                    <div class="progress">
                                        <div class="bar" style="width: 60%;"><span class="pull-right">150 Rs</span></div>
                                    </div>
                                </td>
                                <td>250 Rs</td>
                                <td>100 Rs left</td>

                            </tr>
                            <tr>
                                <td>Buy home</td>
                                <td colspan="2"><div class="progress"> <div class="bar" style="width: 20%;"><span class="pull-right">50 Rs</span></div></div></td>
                                <td>300 Rs</td>
                                <td>250 Rs left</td>
                            </tr>
                            <tr>
                                <td><a href="#">Total</a></td>
                                <td colspan="2"><div class="progress"> <div class="bar" style="width: 40%;"><span class="pull-right">200 Rs</span></div></div></td>
                                <td>550 Rs</td>
                                <td>350 Rs left</td>

                            </tr>
                        </tbody>
                    </table>





                </div>
            </div>
        </div>
    </div>
</div>